* {
    margin:0;
}
#banner {
    width:300px;
    height:250px;
    display:block;
    overflow:hidden;
    position:relative;
    cursor:pointer;
    
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border:rgb(145, 153, 153) 1px solid;
}

.asset {
    top:0; right:0; bottom:0; left:0;
    position:absolute;
    visibility:hidden;
}


/* Frame 1 */

#bg {
    margin-left: -180px;
    height:250px;
}
#txt01 {
    position: absolute;
    top: 160px;
    left: 32px;
}

#txt01b {
    position: absolute;
    top: 160px;
    left: 170px;
    height: 28px;
}

#txtbg1 {
    position: absolute;
    top: 160px;
    left: 31px;
    width: 136px;
    height: 23px;
    background-color: #162344;
}
#txt02 {
    position: absolute;
    top: 133px;
    left: 105px;
    height: 28px;
}
#txt02b {
    position: absolute;
    top: 131px;
    left: 32px;
}

#txtbg2 {
    position: absolute;
    top: 133px;
    left: 103px;
    width: 134px;
    height: 25px;
    background-color: #162344;
}
/* Frame 2 */

#txtbg3 {
    position: absolute;
    width: 300px;
    height: 250px;
    background-color: #ffc50b;
}

#txt03 {
    position: absolute;
    top: 100px;
    left: 13px;
}

#yes {  
    position: absolute;
    width: 72px;
    height: 46px;
    clip: rect(0px,100px,50px,0px);
    /* --- */
    background: #ffc50b;
    text-align: center;
    top: 55%;
    left: 37%;
}

/* Frame 3 */

#txt04 {
    position: absolute;
    top: 66px;
    left: 25px;
    height: 100px;
}

#logo {
    position: absolute;
    top: 213px;
    left: 0px;
    height: 36px;
}

#cta {
    position: absolute;
    top: 213px;
    left: 87px;
    height: 36px;
}